{% extends 'base.html' %}

{% block content %}
<section id="departments">
      <div class="container">
        <div class="title mb-4 text-center">
          <h3>Departments.</h3>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                <i class="fa-solid fa-stethoscope"></i>
                </div>
              <h4 class="fw-bolder py-2">Doctors</h4>
              <p>Its aimis to eradicate diseases, both acute and chronic and provide treatment for it by the complete medical examination</p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                <i class="fa-solid fa-prescription-bottle-medical"></i>
                </div>
              <h4 class="fw-bolder py-2">Pharmacy</h4>
              <p>The pharmacy team is specialized in providing the necessary medicines.</p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                <i class="fa-solid fa-flask"></i>
                </div>
              <h4 class="fw-bolder py-2">Blood Lab</h4>
              <p>It provides all the laboratory investgations needed to find a definit diagnosis</p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                <i class="fa-solid fa-vial"></i>
                </div>
              <h4 class="fw-bolder py-2">Urin & Stool Lab</h4>
              <p>In urine lab, urine analysis is performed for check up of the patient's condition and to diagnose some diseases</p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                <i class="fa-solid fa-laptop-file"></i>
                </div>
              <h4 class="fw-bolder py-2">Database & Research</h4>
              <p>our team is also concerned with providing data for different clinics offollow up team</p>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                  <i class="fa-solid fa-archway"></i>
                </div>
              <h4 class="fw-bolder py-2">Awarness</h4>
              <p>Everything begins with awareness and there’s no value for anything without it” Bedaya</p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                <i class="fa-solid fa-sitemap"></i>
                </div>
              <h4 class="fw-bolder py-2">Organization & Preparation</h4>
              <p>The role of team begins at preparation, days before starting of the caravan</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 text-center ">
            <div class="item">
                <div class="icon">
                <i class="fa-solid fa-landmark"></i>
                </div>
              <h4 class="fw-bolder py-2">Land</h4>
              <p>Land is the team responsible for selecting and organizing housing for the caravan members</p>
            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}