{% extends 'base.html' %}

{% block content %}
<section id="doctors">
    <div class="container">
      <div class="title mb-4 text-center">
        <h3>Doctors</h3>
      </div>
      <div class="row d-flex gy-3">
      <div class="col-lg-4 col-md-6">
          <div class="box text-center">
            <img src="images/team/team-1.jpg" alt=""/>
            <h2>Walter White</h2>
            <p>Chief Executive Officer</p>
            <i class="text-muted">Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</i>
            <div class="social-nav mt-3">
              <Link><i class="fa-brands fa-twitter"></i></Link>
              <Link><i class="fa-brands fa-facebook"></i></Link>
              <Link><i class="fa-brands fa-instagram"></i></Link>
              <Link><i class="fa-brands fa-linkedin"></i></Link>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="box text-center">
            <img src="images/team/team-2.jpg" alt=""/>
            <h2>Sarah Jhinson</h2>
            <p>Product Manager</p>
            <i class="text-muted">Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus</i>
            <div class="social-nav mt-3">
              <Link><i class="fa-brands fa-twitter"></i></Link>
              <Link><i class="fa-brands fa-facebook"></i></Link>
              <Link><i class="fa-brands fa-instagram"></i></Link>
              <Link><i class="fa-brands fa-linkedin"></i></Link>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="box text-center">
            <img src="images/team/team-3.jpg" alt=""/>
            <h2>William Anderson</h2>
            <p>CTO</p>
            <i class="text-muted">Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara</i>
            <div class="social-nav mt-3">
              <Link><i class="fa-brands fa-twitter"></i></Link>
              <Link><i class="fa-brands fa-facebook"></i></Link>
              <Link><i class="fa-brands fa-instagram"></i></Link>
              <Link><i class="fa-brands fa-linkedin"></i></Link>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="box text-center">
            <img src="images/team/team-1.jpg" alt=""/>
            <h2>Walter White</h2>
            <p>Chief Executive Officer</p>
            <i class="text-muted">Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</i>
            <div class="social-nav mt-3">
              <Link><i class="fa-brands fa-twitter"></i></Link>
              <Link><i class="fa-brands fa-facebook"></i></Link>
              <Link><i class="fa-brands fa-instagram"></i></Link>
              <Link><i class="fa-brands fa-linkedin"></i></Link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}