
  <footer class="">
      <div class="footer-top ">
        <div class="container">
          <div class="row gy-3">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="box text-center text-white">
                <h2 class="fw-bolder fs-1">Bedaya</h2>
                <p class="py-2">Hamada, Bani Mazar, El Minya.<br/> From 6-8 to 12-8-2022</p>
                <div><span class="fw-bolder">phone:</span> +1 5589 55488 55</div>
                <div><span class="fw-bolder">Email:</span> bedayacaravan@gmail.com</div>
                <div class="social-nav mt-4">
                  <a to='/'><i class="fa-brands fa-twitter"></i></a>
                  <a to='/'><i class="fa-brands fa-facebook"></i></a>
                  <a to='/'><i class="fa-brands fa-instagram"></i></a>
                  <a to='/'><i class="fa-brands fa-skype"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="items text-white">
                <h4 class="fs-5 mb-2">Useful as</h4>
                <ul>
                  <li class="py-2"><a to='/'><i class="fa-solid fa-chevron-right"></i> Home</a></li>
                  <li class="py-2"><a to='about'><i class="fa-solid fa-chevron-right"></i> About</a></li>
                  <li class="py-2"><a to='services'><i class="fa-solid fa-chevron-right"></i> Services</a></li>
                  <li class="py-2"><a to='department'><i class="fa-solid fa-chevron-right"></i> Department</a></li>
                  <li class="py-2"><a to='doctors'><i class="fa-solid fa-chevron-right"></i> Doctors</a></li>
                  <li class="py-2"><a to='teams'><i class="fa-solid fa-chevron-right"></i> Teams</a></li>
                  <li class="py-2"><a to='contacts'><i class="fa-solid fa-chevron-right"></i> Contacts</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <div class="items text-white">
                <h4 class="fs-5 mb-2">Our Services</h4>
                <ul>
                  <li class="py-2"><a to='/'><i class="fa-solid fa-chevron-right"></i> Web Design</a></li>
                  <li class="py-2"><a to='/'><i class="fa-solid fa-chevron-right"></i> Web Development</a></li>
                  <li class="py-2"><a to='/'><i class="fa-solid fa-chevron-right"></i> Product Management</a></li>
                  <li class="py-2"><a to='/'><i class="fa-solid fa-chevron-right"></i> Marketing</a></li>
                  <li class="py-2"><a to='/'><i class="fa-solid fa-chevron-right"></i> Graphic Design</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="text-white">
                <h4 class="fs-5 mb-3">Join Our Newsletter</h4>
                <p>The website aims to eliminate the trio of ignorance, poverty and disease</p>
                <div class="subscribe">
                  <input type="text" class="form-control mt-4 w-75"/>
                  <button class="subs-btn">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="container text-white text-center mt-5">
        <div class="copyright">
          @ Bedaya <strong>Medical.</strong> All Rights Reserved
        </div>
        <div class="credits">
          Designed by <span class='fw-bolder'>BadrEldin</span> 
        </div>
      </div>
    </footer>
